{{ define "main" }}
  {{- $pages := .Pages.ByTitle -}}
  {{- $letters := slice -}}
  {{- $prevLetter := "" -}}
  {{- range $pages -}}
    {{- $letter := upper (substr .Title 0 1) -}}
    {{- if ne $letter $prevLetter -}}
      {{- $letters = $letters | append $letter -}}
      {{- $prevLetter = $letter -}}
    {{- end -}}
  {{- end -}}

  <div id="wrapper" class="index">
    <section id="toc">
      <h1 id="mainTitle">{{ .Site.Title }}</h1>
      <p id="navigation">
        {{- range $letters -}}
          <a href="#{{ . }}">{{ . }} </a>
        {{- end -}}
      </p>

      <ul>
        {{- $prevLetter = "" -}}
        {{- range $pages -}}
          {{- $letter := upper (substr .Title 0 1) -}}
          {{- if ne $letter $prevLetter -}}
            <li id="{{ $letter }}">
          {{- else -}}
            <li>
          {{- end -}}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
          {{- $prevLetter = $letter -}}
        {{- end -}}
      </ul>
    </section>
  </div>
{{ end }}

