{{ define "head" }}
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
{{ end }}

{{ define "main" }}
  <div id="wrapper" class="index">
    <section id="toc">
      <h1 id="mainTitle">{{ .Site.Title }}</h1>
      <p id="navigation"></p>
      <ul></ul>
    </section>

    <!-- <section id="footer">
         <ul>
         </ul>
         </section> -->
  </div>
{{ end }}

{{ define "scripts" }}
  {{- $files := slice -}}
  {{- range sort (readDir "static/recipes") "Name" -}}
    {{- if and (not .IsDir) (strings.HasSuffix .Name ".md") -}}
      {{- $files = $files | append .Name -}}
    {{- end -}}
  {{- end -}}

  <script>
    let files = {{ $files | jsonify | safeJS }};
  </script>

  <script src="{{ "utils.js" | relURL }}"></script>
  <script src="{{ "list-recipes.js" | relURL }}"></script>
{{ end }}
