{{ define "main" }}
  {{- $recipes := slice -}}
  {{- $letters := slice -}}
  {{- $prevLetter := "" -}}

  {{- range sort (readDir "static/recipes") "Name" -}}
    {{- if and (not .IsDir) (strings.HasSuffix .Name ".md") (not (strings.HasPrefix .Name "_")) -}}
      {{- $anchor := strings.TrimSuffix ".md" .Name -}}
      {{- $name := replace $anchor "-" " " -}}
      {{- $letter := upper (substr $name 0 1) -}}
      {{- $isNewLetter := ne $letter $prevLetter -}}

      {{- $recipes = $recipes | append (dict "anchor" $anchor "name" $name "letter" $letter "newLetter" $isNewLetter) -}}
      {{- if $isNewLetter -}}
        {{- $letters = $letters | append $letter -}}
      {{- end -}}
      {{- $prevLetter = $letter -}}
    {{- end -}}
  {{- end -}}

  <div id="wrapper" class="index">
    <section id="toc">
      <h1 id="mainTitle">{{ .Site.Title }}</h1>
      <p id="navigation">
        {{- range $letters -}}
          <a href="#{{ . }}">{{ . }} </a>
        {{- end -}}
      </p>

      <ul>
        {{- range $recipes -}}
          {{- if .newLetter -}}
            <li id="{{ .letter }}">
          {{- else -}}
            <li>
          {{- end -}}
            <a href="{{ "recipe/" | relURL }}#{{ .anchor }}">{{ .name }}</a>
          </li>
        {{- end -}}
      </ul>
    </section>

    <!-- <section id="footer">
         <ul>
         </ul>
         </section> -->
  </div>
{{ end }}
